{{!-- <form action="/gif-info" method="get">

    <label>Search GIFs of:
        <input type="text" name="gif">
    </label>


    <button>Search</button>
</form>


<form action="/random-gif" method="get">
<button>Random GIF</button>
</form> --}}


<footer id="footer">
<div class="footer-newsletter">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
        <h4>Search for GIF</h4>
        <form action="/gif-info" method="get">
                <label>Search GIFs of:
                    <input type="text" name="gif">
                </label>
                <input type="submit" value="Search">
        </form>
        <br>
        <form action="/random-gif" method="get">
            <button type="submit">Random GIF</button>
        </form>
        </div>
    </div>
    </div>
</div>
</footer>


